<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>REGISTRATION - APBY CONFERENCE 2019</title>
        <meta name="description" content="APBY CONFERENCE 2019 | Philippines">
        <meta name="author" content="idiscipleph web master">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">


        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <!-- Fonts -->
        <!-- Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <!-- CSS -->
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <!--
        <link rel="stylesheet" href="css/themefisher-fonts.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/animate.css">
        -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Responsive Stylesheet -->
        <link rel="stylesheet" href="css/responsive.css">
    </head>

    <body id="body">
    
    <div id="app">

    	<div id="preloader">
    		<div class="book">
    		  <div class="book__page"></div>
    		  <div class="book__page"></div>
    		  <div class="book__page"></div>
    		</div>
    	</div>

	    <section class="registration">
            <div class="container">
	            <div class="row">
	                
	                <div class="col col-lg-5">
	                    <div class="block px-3">
                            <form class="form-signin bg-gray" v-on:submit.prevent="onSubmit">
                                <div class="text-center">
                                    <h1 class="h3 font-weight-normal">STEP 1/2: <br> <span class="small">Reg Details</span></h1>
                                </div>
                          
                                <div class="form-label-group">
                                    <label for="inputCountry">Country</label>
                                    <select v-model="profile.country" name="inputCountry" id="inputCountry" class="form-control" required>
                                            <option value="AUS">Australia</option>
                                            <option value="BGD">Bangladesh</option>
                                            <option value="BTN">Bhutan</option>
                                            <option value="BRN">Brunei</option>
                                            <option value="KHM">Cambodia</option>
                                            <option value="CHN">China</option>
                                            <option value="COK">Cook Islands</option>
                                            <option value="FJI">Fiji</option>
                                            <option value="PYF">French Polynesia</option>
                                            <option value="HKG">Hong Kong</option>
                                            <option value="IND">India</option>
                                            <option value="IDN">Indonesia</option>
                                            <option value="JPN">Japan</option>
                                            <option value="KIR">Kiribati</option>
                                            <option value="LBN">Lebanon</option>
                                            <option value="MAC">Macao</option>
                                            <option value="MYS">Malaysia</option>
                                            <option value="MDV">Maldives</option>
                                            <option value="MHL">Marshall Islands</option>
                                            <option value="FSM">Micronesia</option>
                                            <option value="MNG">Mongolia</option>
                                            <option value="MMR">Myanmar</option>
                                            <option value="NRU">Nauru</option>
                                            <option value="NPL">Nepal</option>
                                            <option value="NZL">New Zealand</option>
                                            <option value="PLW">Palau</option>
                                            <option value="PNG">Papua New Guinea</option>
                                            <option value="PER">Peru</option>
                                            <option value="PHL">Philippines</option>
                                            <option value="RUS">Russia</option>
                                            <option value="WSM">Samoa</option>
                                            <option value="SGP">Singapore</option>
                                            <option value="SLB">Solomon Islands</option>
                                            <option value="KOR">South Korea</option>
                                            <option value="LKA">Sri Lanka</option>
                                            <option value="TWN">Taiwan</option>
                                            <option value="THA">Thailand</option>
                                            <option value="TLS">Timor-Leste</option>
                                            <option value="TON">Tonga</option>
                                            <option value="TUV">Tuvalu</option>
                                            <option value="VUT">Vanuatu</option>
                                            <option value="VNM">Vietnam</option>
                                            <option value="USA">United States</option>
                                    </select>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputFirstName">First Name</label>
                                    <input v-model="profile.firstname" type="text" maxlength="50" id="inputFirstName" class="form-control" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputLastName">Last Name</label>
                                    <input v-model="profile.lastname" type="text" maxlength="50" id="inputLastName" class="form-control" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputMiddleName">Middle Name</label>
                                    <input v-model="profile.middlename" type="text" maxlength="50" id="inputMiddleName" class="form-control" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputNickName">Nickname</label>
                                    <input v-model="profile.nickname" type="text" maxlength="20" id="inputNickName" class="form-control" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputEmail">Email Address</label>
                                    <input v-model="profile.email" type="email" id="inputEmail" class="form-control" required autofocus>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputMobile">Mobile Number</label>
                                    <input v-model="profile.mobile" type="text" id="inputMobile" maxlength="11" class="form-control" required autofocus>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputGender">Gender</label>
                                    <select v-model="profile.gender" name="inputGender" id="inputGender" class="form-control" required>
                                        <option value="">---</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-label-group">
                                    <label for="inputAffiliation">Church / Organization</label>
                                    <input v-model="profile.affiliation" type="text" id="inputAffiliation" maxlength="100" class="form-control" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputRole">Role</label>
                                    <input v-model="profile.role" type="text" id="inputRole" class="form-control" maxlength="20" autofocus>
                                </div>

                                <hr>
                                <p class="small">By clicking the submit button, I already reviewed the information I entered in the registration form.</p>
                                <br>

                                <h3 v-if="alert_error" class="alert alert-danger text-xs">{{ err_msg }}</h3>
                                <h3 v-if="alert_success" class="alert alert-success text-xs">{{ suc_msg }}</h3>

                                <button class="btn btn-lg btn-warning btn-block" type="submit">Submit</button>
                            </form>
	                    </div>
                    </div>
                    
                    <div class="col col-lg-7">
                        <div class="text-center p-3">
                            <img class="card-img-top" src="assets/img/your-logo.jpg" alt="logo">
                            <div class="card-body">
                              <h1 class="card-title">Event Title</h1>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                </div>
                </div><!-- .row close -->
            </div>
	    </section><!-- header close -->

    </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="block">
                            <img src="assets/img/ASIA-PACIFIC-LOGO.png" class="img" alt="">
                            <img src="assets/img/LCSBC Logo.png" class="img" alt="">
                            <img src="assets/img/IDISCIPLE LOGO.png" class="img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        

        <!-- Js -->
        <script src="js/vendor/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/wow.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script> -->
        <script src="js/main.js"></script>

        <!-- Vuejs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="js/vue/main.vue.js"></script>

        <!-- AXIOS -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
    </body>
</html>
